<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Witaj w bibliotece!</h1>
    <p>Pomyślnie zarejestrowałeś się w naszym systemie bibliotecznym. Życzymy miłego użytkowania!</p>
  </body>
</html>
