<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html/; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Powiadomienie o rezerwacji</h1>
    <p>
      Dziękujemy za rezerwację książki w naszym serwisie.
    </p>
    <p>
      <strong>Data rezerwacji: </strong><%= @date %><br/>
      <strong>Data zwrotu: </strong><%= @return %>
    </p>
  </body>
</html>
